{
  "mail": {
    "server": "localhost",
    "port": 25,
    "from": {
      "name": "websitewatcher",
      "mail": "a@a.com"
    },
    "to": ["bbb@bbb.com", "ccc@ccc.com"],
    "skiptls": true,
    "user": "",
    "password": ""
  },
  "timeout": "1m",
  "parallel_checks": 5,
  "retry": {
    "count": 3,
    "delay": "10s"
  },
  "database": "db.db",
  "http_errors_to_ignore": [502,503,504],
  "useragent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.63 Safari/537.36 Edg/102.0.1245.33",
  "watches": [{
      "name": "aaa",
      "url": "http://aaa.com",
      "additional_to": ["ddd@ddd.com", "eee@eee.com"],
      "additional_http_errors_to_ignore": [500]
    },
    {
      "name": "bbb",
      "url": "http://bbb.com",
      "header": {
        "X-Auth-Key": "1234"
      },
      "disabled": true,
      "pattern": "test = (.+)",
      "replaces": [
        {
          "pattern": "test .+",
          "replace_with": "test124"
        },
        {
          "pattern": "",
          "replace_with": ""
        }
      ]
    }
  ]
}
