{
  "mail": {
    "server": "localhost",
    "port": 25,
    "from": {
      "name": "websitewatcher",
      "mail": "a@a.com"
    },
    "to": ["bbb@bbb.com", "ccc@ccc.com"],
    "skiptls": true,
    "user": "",
    "password": "",
    "retries": 3
  },
  "timeout": "1m",
  "parallel_checks": 5,
  "retry": {
    "count": 3,
    "delay": "10s"
  },
  "diff_method": "api | internal | git",
  "database": "db.db",
  "no_errormail_on_statuscode": [502,503,504],
  "useragent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.63 Safari/537.36 Edg/102.0.1245.33",
  "retry_on_match": [
    "global error"
  ],
  "watches": [{
      "name": "aaa",
      "cron": "@hourly",
      "url": "http://aaa.com",
      "additional_to": ["ddd@ddd.com", "eee@eee.com"],
      "no_errormail_on_statuscode": [500],
      "skip_soft_error_patterns": false,
      "retry_on_match": [
        "error"
      ]
    },
    {
      "name": "bbb",
      "cron": "@daily",
      "url": "http://bbb.com",
      "header": {
        "X-Auth-Key": "1234"
      },
      "disabled": true,
      "pattern": "test = (.+)",
      "retry_on_match": [
        "error on calling",
        "error executing .+ in memory"
      ]
      "replaces": [
        {
          "pattern": "test .+",
          "replace_with": "test124"
        },
        {
          "pattern": "",
          "replace_with": ""
        }
      ]
    },
    {
      "name": "ccc",
      "url": "http://ccc.com",
      "header": {
        "Content-Type": "text/plain;charset=UTF-8"
      },
      "method": "POST",
      "body": "{\"page\":1}"
    },
    {
      "name": "Jokes",
      "url": "https://icanhazdadjoke.com",
      "header": {
        "Accept": "text/plain"
      }
    },
    {
      "name": "JSON Example",
      "url": "https://domain.com/test.json",
      "jq": ".result | .[] | select(.name==\"test\")"
    }
  ]
}
