[Unit]
Description=websitewatcher
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/websitewatcher
User=websitewatcher
SyslogIdentifier=websitewatcher
ExecStart=/home/websitewatcher/websitewatcher -config /home/websitewatcher/config.json -json
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
